.Header {
    display: flex;
    justify-content: space-between;
    height: 65vh;
    background-color: #121212;
    color: #FFFFFF;
}

.Header section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 80px;
    gap: 0px;
}

.Header section h1 {
    margin-bottom: 0px;
}

.Header section img{
    height: 60px;
}

.Header img{
    border-radius: 10% 0 0 10%;
}

.HeaderImg{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 12.5vh;
    padding-right: 12.5vh;
    top: -80px;
}

.HeaderImg img{
    height: 30%;
}

h1 {
    background: linear-gradient(to right, #9305D6, #DD9AFC);
    background-clip: text;
    color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

h3{
    color: black;
    text-align: left;
    font-size: 1.75rem;
}

p{
    font-size: 1.0rem;
    font-weight: 400;
}

.CardPosition{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 10vh;
    margin: 40px 0px 40px 0px;
}

.Home nav {
    padding-left: 6.5vw;
    padding-right: 6.5vw;
}

.Home a{
    text-decoration: none;
}

.RefCheck a{
    text-decoration: underline;
}

.RefCheck {
    color: #949494;
    margin-top: 25vh;
}