.Header {
    display: flex;
    justify-content: space-between;
    height: 65vh;
    background-color: #121212;
    color: #FFFFFF;
}

.Header section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 80px;
    gap: 0px;
}

.Header section h1 {
    margin-bottom: 0px;
}

.Header section img {
    height: 60px;
}

.Header img {
    border-radius: 10% 0 0 10%;
}

.HeaderImg {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 12.5vh;
    padding-right: 12.5vh;
    top: -8vh;
}

.HeaderImg img {
    height: 50vh;
}

h1 {
    background: linear-gradient(to right, #9305D6, #DD9AFC);
    background-clip: text;
    color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    color: black;
    text-align: left;
    font-size: 1.75rem;
    margin-top: 128px;
    margin-bottom: 72px;
}

p {
    font-size: 1.0rem;
    font-weight: 400;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
}

.item1 {
    grid-column: span 1;
}

.item2 {
    grid-column: span 2;
}

.link-custom {
    text-decoration: none;
    color: inherit;
}

.Home nav {
    padding-left: 6.5vw;
    padding-right: 6.5vw;
}

.Home a {
    text-decoration: none;
}

.RefCheck a {
    text-decoration: underline;
}

.RefCheck {
    color: #949494;
    margin-top: 25vh;
}

.imgNavPag {
    max-height: 26vw;
    overflow: hidden;
    position: absolute;
    top: 170px;
    left: 63vw;
}

.CardProDes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #121212;
    box-shadow: 0px 4px 16px 10px rgba(206, 206, 206, 0.25);
    color: #FFFFFF;
    border-radius: 24px;
    text-align: start;
    transition: transform 0.5s ease;
}

.CardProDes section {
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 5vh;
}

.CardProDes:hover {
    transform: scale(1.02);
}

/* Conteúdo suspenso */
.moreContent {
    text-decoration: none;
    position: relative;
    width: auto;
    top: -30px;
    padding-left: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #058BD6;
}

.moreContent_content {
    padding-left: 30px;
}

.opacity {
    color: #FFFFFF;
    font-family: 'SF Pro Display', 'italic';
    font-weight: 100;
    font-style: italic;
}


@media (max-width: 768px) {

    .Header section {
        padding-left: 5vw;
        max-width: 80vw;
    }

    .HomeImg {
        display: none;
    }

    .HeaderImg {
        padding: 0 5vw 0 5vw;
    }

    .HeaderImg img {
        height: 20vw;
    }

    .Home nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .item1 {
        grid-column: span 2;
    }

    .imgNavPag {
        display: none;
    }
    .CardProDes {
        border-radius: 12px;
    }
    .CardProDes section, .CardProDes img {
        flex: 1;
        overflow: hidden;
    }
    .CardProDes img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}