.Card {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  background-color: #121212;
  box-shadow: 0px 4px 16px 10px rgba(206, 206, 206, 0.25);
  color: #FFFFFF;
  border-radius: 24px;
  text-align: center;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.Card:hover {
  transform: scale(1.02);
}

.unable:hover {
  transform: none;
}

.Card section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 4vh;
  padding-top: 20vh;
}

.Card img {
  border-radius: 24px;
  max-width: 100%;
  object-fit: cover;
}

h2 {
  background: linear-gradient(to right, #9305D6, #DD9AFC);
  background-clip: text;
  color: transparent;
  font-size: 2.0rem;
}

.Card.pequeno {
  height: 35vh;
}

.Card.medio {
  height: 35vh;
}

.Card.grande {
  height: 50vh;
}

.Card.grande section {
  padding: none;
  padding-top: 0vh;
  justify-content: center;
  gap: 0px;
}

.Card.grande section p {
  margin-top: -10px;
}

@media (max-width: 768px) {
  .Card {
    width: 100%;
    height: 20vh;
    border-radius: 12px;
  }
  .Card.grande {
    height: 35vh;
  }
  .Card.pequeno {
    height: 25vh;
  }
  .Card.pequeno section {
    padding-bottom: 20vh;
  }
  .Card.medio {
    height: 25vh;
  }
  .Card.grande {
    height: 35vh;
    gap: 4vw;
  }
  .Card section, .Card img{
    flex: 1;
    overflow: hidden;
  }
  .Card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .Card section {
    text-align: left;
  }
}