.App {
  text-align: center;
}


/*CSS Regras de Loja*/
.RegShop, .RegUi, .Ios, .TvOs{
  text-align: justify;
  padding-left: 6.5vw;
  padding-right: 6.5vw;
}

.Detail {
    color: #FFFFFF;
    font-family: 'SF Pro Display', 'italic';
    font-weight: 100;
    font-style: italic;
}

.RegShop h2, .RegUi h2, .Ios h2, .TvOs h2 {
  color: #121212;
}

.MiniLink {
  margin-top: 64px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.MiniLink a{
  text-decoration: none;
  color: #565656;
  font-weight: 400;
}

.MiniLink img {
  height: 16px;
}
/*Fim do CSS Regras de Loja*/