.Card {
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    color: #FFFFFF;
    border-radius: 24px;
    text-align: center;
}

.Card section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 72px;
}

.Card img{
    border-radius: 24px;
}

h2{
    background: linear-gradient(to right, #9305D6, #DD9AFC);
    background-clip: text;
    color: transparent;
    font-size: 2.0rem;
}